<launch>
	
	<include file="$(find stdr_robot)/launch/robot_manager.launch" />
	
	<node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(find stdr_resources)/maps/mapping_house.yaml"/>

	<node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  world map 1" />
	
	<include file="$(find stdr_gui)/launch/stdr_gui.launch"/>
	
	<include file="$(find stdr_launchers)/launch/gmapping.launch"/>
	
	<node pkg="stdr_robot" type="robot_handler" name="$(anon robot_spawn)" args="add $(find stdr_resources)/resources/robots/robo_robo.yaml 3 8 0" />
	
	<!--<node name="movement" pkg="stdr_samples" type="robo_mapping" args="robot0 laser_0"/>-->
	
	<include file="$(find stdr_launchers)/launch/rviz.launch"/>

</launch>